html {
	box-sizing: border-box;
	font-size: 100%;
	font-family: "Josefin Sans", sans-serif;
}

*,
*:before,
*:after {
	box-sizing: inherit;
	padding: 0;
	margin: 0;
}

body {
	min-height: 100vh;
}

h1 {
	color: hsl(0, 6%, 24%);
	font-weight: 900;
	font-size: 3.5rem;
	letter-spacing: 1.1rem;
}

h2 {
	color: hsl(0, 36%, 70%);
	font-weight: 100;
	font-size: 3.5rem;
	letter-spacing: 1.1rem;
}

.brand-logo {
	position: absolute;
	top: 60px;
	left: 275px;
}

.flex-container {
	display: flex;
	background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
}

.main-content {
	flex: 2;
	background-image: url(/Coming-soon-apparel-page/images/bg-pattern-desktop.svg);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 250px 100px 0px 275px;
}

.main-image {
	flex: 1;
}

.main-text {
	color: hsl(0, 36%, 70%);
	padding-top: 20px;
	padding-bottom: 30px;
	line-height: 1.5625rem;
	font-weight: bold;
	font-size: 0.875rem;
}

.mail {
	background-color: transparent;
	border-radius: 26px;
	border-width: 1px;
	border-color: hsl(0, 25%, 78%);
	border-style: solid;
	font-family: "Josefin Sans", sans-serif;
	font-weight: bold;
	margin-bottom: 10px;
	padding: 18px;
	padding-left: 25px;
	width: 380px;
}

.mail.active {
	border-color: hsl(0, 93%, 68%);
}

.mail:focus {
	outline: none;
}

::placeholder {
	color: hsl(0, 25%, 78%);
}

button {
	background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
	padding: 13.5px 22px;
	border-radius: 24px;
	position: relative;
	left: -76px;
	bottom: -5px;
	border: none;
	width: 85px;
	filter: drop-shadow(1px 10px 4px rgba(151, 152, 154, 0.3));
}

button:focus {
	outline: none;
}

button:hover {
	cursor: pointer;
}

.error-msg {
	color: hsl(0, 93%, 68%);
	font-size: 12px;
	font-weight: bold;
	margin-left: 30px;
	visibility: hidden;
}

.error-img {
	position: absolute;
	bottom: 167px;
	left: 550px;
	visibility: hidden;
}

.form-control.error button {
	background: linear-gradient(135deg, hsl(0, 23%, 77%), hsl(0, 100%, 91%));
}

.form-control.error .error-msg {
	visibility: visible;
}

.form-control.error .error-img {
	visibility: visible;
}

.form-control.error input {
	border-color: hsl(0, 93%, 68%);
}
